<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"/>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Simple Order App</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/neworder">New Order</a></li>
                <li class="active"><a href="/companies">All Companies</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
<div class="container">

        <div class="text-center">
            <h1>List of All Companies</h1>
            <p class="lead">This is a list of the companies registered..    . </p>
        </div>
       
       
        <div class="row">
                <div class="col-sm-6 col-md-4">
                  <div class="thumbnail">
                    <img src="https://dummyimage.com/400x200/000000/ffffff.png&text=SuperTraders" alt="SuperTraders">
                    <div class="caption">
                      <h3>SuperTrader</h3>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                      <p><a href="#" class="btn btn-primary" role="button">View Details</a></p>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                                <img src="https://dummyimage.com/400x200/000000/ffffff.png&text=Cheapskates" alt="Cheapskates">
                          <div class="caption">
                            <h3>Cheapskates</h3>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p><a href="#" class="btn btn-primary" role="button">View Details</a> </p>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                    <img src="https://dummyimage.com/400x200/000000/ffffff.png&text=MegaCorp" alt="MegaCorp">
                              <div class="caption">
                                <h3>Cheapskates</h3>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                <p><a href="#" class="btn btn-primary" role="button">View Details</a> </p>
                              </div>
                            </div>
                          </div>

                          
              </div>


</div>   