<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"/>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">BorderGuru Orders App</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/neworder">New Order</a></li>
                <li><a href="/companies">All Companies</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container">

    <div class="text-center">
        <h1>Sample Ordering App [a dummy fullstack app]...</h1>
        <p class="lead">This is a list of the last orders that were entered in. </p>
    </div>

    <div>
       
        <div class="container">
            <!--Filter orders list by company name-->
            <form action="/member" method="post">
                <div class="row col-md-6">
                    <div class="col-md-6 column">
                        <select id="companyName" name="companyName" class="form-control">
                            <option>Please Select</option>
                            <option value="SuperTrader">SuperTrader</option>
                            <option value="Cheapskates">Cheapskates</option>
                            <option value="MegaCorp">MegaCorp</option>
                        </select>
                    </div>
                    <div class="col-md-6 column">
                        <!-- Button -->
                        <button id="btnFilterOrders" name="btnFilterOrders" class="btn btn-primary" type="submit">Filter Orders by Company Name</button>
                    </div>
                </div>
            </form>
            <form action="/address" method="post">
            <div class="row col-md-6">
                <div class="col-md-6 column">
                    <select id="customerAddress" name="customerAddress" class="form-control">
                        <option>Please Select</option>
                        <option value="Steindamm 80">Steindamm 80</option>
                        <option value="Reeperbahn 153">Reeperbahn 153</option>
                        <option value="Sternstrasse 145">Sternstrasse 145</option>
                        <option value="Ottenser Hauptstrasse 24">Ottenser Hauptstrasse 24</option>
                        <option value="Lagerstrasse 11">Lagerstrasse 11</option> 
                    </select>
                </div>
                <div class="col-md-6 column">
                    <!-- Button -->
                    <button id="btnFilterOrders" name="btnFilterOrders" class="btn btn-primary" type="submit">Filter Orders by Customer Address</button>
                </div>
            </div>
        </form>

        </div>
        <br />

        <div class="container">
         
            <table class="table table-hover">
                <tr>
                    <td><strong>Company Name </strong></td>
                    <td><strong>Address: </strong></td>
                    <td><strong>Orderes Item</strong></td>
                    <td><strong>Price:</strong></td>
                    <td><strong>Currency:</strong></td>
                    <td><strong>Date Ordered:</strong></td>
                    <td><strong>View Order</strong></td>
                    <td><strong>Delete Order:</strong></td>
                </tr>
                {% for order in orders %}
                <tr>
                    <td name="companyName">{{ order.companyName }}</td>
                    <td name="customerAddress">{{ order.customerAddress }}</td>
                    <td name="ordereditem"> {{ order.ordereditem }}</td>
                    <td name="Price">{{ order.Price }}</td>
                    <td name="Currency">{{ order.Currency }}</td>
                    <td>{{ order.createdOn.toDateString() }}</td>
                    <td><a href="/view-order/{{order.companyName}}" class="btn btn-info" type="submit">View</a></td>
                    <td>
                        <form action="/delete/{{order.id}}" method="post" onsubmit="return confirm('Are you sure you want to delete this order?')">
                           <button type="submit" class="btn btn-danger">Delete</button>
                        </form>    
                    </td>
               </tr>
                {% endfor %}   
            </table>
           

        </div>
    </div>
</div><!-- /.container -->
</body>
</html>