<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"/>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Sample Order App</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/neworder">New Order</a></li>
                <li><a href="/companies">All Companies</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container">

    <div class="text-center">
        <h1>New Virtual Ordering App</h1>
        <p class="lead">Use this form to enter your order details...</p>
    </div>
    {% if message.length > 0 %}
            <div class="alert alert-danger alert-error">
                {{ message }}
            </div>
    {% endif %}
    <form class="form-horizontal" action="neworder" method="post">
        <fieldset>

            <!-- Form Name -->
            <legend>Enter your Order details...</legend>

            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="companyName">Company Name</label>
                <div class="col-md-4">
                    <select id="companyName" name="companyName" class="form-control">
                        <option value="">(Select a Company)</option>
                        <option value="SuperTrader">SuperTrader</option>
                        <option value="Cheapskates">Cheapskates</option>
                        <option value="MegaCorp">MegaCorp</option>
                    </select>
                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="customerAddress">Customer Address</label>
                <div class="col-md-4">
                    <select id="customerAddress" name="customerAddress" class="form-control">
                        <option value="">(Select Address)</option>
                        <option value="Steindamm 80">Steindamm 80</option>
                        <option value="Reeperbahn 153">Reeperbahn 153</option>
                        <option value="Sternstrasse 145">Sternstrasse 145</option>
                        <option value="Ottenser Hauptstrasse 24">Ottenser Hauptstrasse 24</option>  
                        <option value="Lagerstrasse 11">Lagerstrasse 11</option>  
                    </select>
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="ordereditem">Ordered Item</label>
                <div class="col-md-6">
                    <select id="ordereditem" name="ordereditem" class="form-control">
                        <option value="Macbook">Macbook</option>
                        <option value="Book Guide to Hamburg">Book "Guide to Hamburg"</option>
                        <option value="Book Cooking 101">Book "Cooking 101"</option>
                        <option value="Inline Skates"> Inline Skates</option>  
                        <option value="Playstation 4">Playstation 4</option> 
                        <option value="Flux compensator">Flux compensator</option> 
                    </select>
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="price">Price</label>
                <div class="col-md-6">
                    <input class="form-control" id="price" name="price" value="" type="text" />
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="currency">Currency</label>
                <div class="col-md-6">
                    <select id="currency" name="currency" class="form-control">
                        <option value="$">$</option>
                        <option value="£">£</option>
                    </select>
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="btnSaveOrder">Save Order</label>
                <div class="col-md-4">
                    <button id="btnSaveOrder" name="btnSaveOrder" class="btn btn-primary" type="submit">Save</button>
                </div>
            </div>

        </fieldset>
    </form>


</div><!-- /.container -->
</body>
</html>